// colors

.color-white {
  color: white !important;
}

.color-text-primary {
  color: $text-primary;
}

.color-text-secondary {
  color: $text-secondary;
}

.color-primary {
  color: $primary !important;
}

.color-primary-light {
  color: $primary-light;
}

.color-primary-lighter {
  color: $primary-lighter;
}

.color-primary-lightest {
  color: $primary-lightest;
}

.color-secondary {
  color: $secondary !important;
}

.color-secondary-light {
  color: $secondary-light;
}

.color-secondary-lighter {
  color: $secondary-lighter;
}

.color-secondary-lightest {
  color: $secondary-lightest;
}

.color-tertiary {
  color: $tertiary !important;
}

.color-tertiary-light {
  color: $tertiary-light;
}

.color-tertiary-lighter {
  color: $tertiary-lighter;
}

.color-tertiary-lightest {
  color: $tertiary-lightest;
}

.gray-bg-color {
  color: $gray-bg;
}

.color-disabled-text {
  color: $disabled-text !important;
}

.gray-color-text {
  color: $gray-color-text;
}
