html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body{
    padding-top: 63px;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-bottom: 0;
}